
body {
    background-image: linear-gradient(to left, #995e7a80 20%, #7da9cf80 100%), url(../img/wall2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 115%; 
    background-position: center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.profile {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  background: #33333380;
  padding: 7px;
  position: relative;
  text-align: center;
  height: 10%;
}

.kano img{
  border-radius: 50%;
  width: 4%;
  cursor:pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;

}

.kano:hover img {
  transform: scale(1.1);
 -ms-transform: scale(1.1); 
 -webkit-transform: scale(1.1);   
 }

.Hitona img{
  border-radius: 50%;
  width: 4%;
  cursor: pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;

}

.Hitona:hover img {
  transform: scale(1.1);
 -ms-transform: scale(1.1); 
 -webkit-transform: scale(1.1);
 }

.Hareru img{
  border-radius: 50%;
  width: 4%;
  cursor:pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;

}

.Hareru:hover img {
  transform: scale(1.1);
 -ms-transform: scale(1.1); 
 -webkit-transform: scale(1.1);
}

.Nonono img{
  border-radius: 50%;
  width: 4%;
  cursor:pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;

}

.Nonono:hover img {
  transform: scale(1.1);
 -ms-transform: scale(1.1); 
 -webkit-transform: scale(1.1);
}

.main {
  height: 10em;
  text-align: center;
}

.main h3 {
  margin-top: 5%;
  margin-bottom: 1%;
  color: white;
  font-size: 30;
  font-family: 'Ubuntu Mono', monospace;
  position: relative;
}

.music {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music.show {
  position: relative;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  
}

li img{
  height: 230;
  width: 400;
  padding: 3%;
  cursor:pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

li:hover img {
    transform: scale(1.1);
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);  
}


.infotime {
  position: relative;
  margin: 0 auto;
}

.infotime img{
  vertical-align: middle;
}

.infotime .time {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  margin-left: 30%;
  margin-bottom: 5%;
  
}

.infotime .list {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
}

.infotime .list h3 {
  margin-top: 5%;
  margin-bottom: 1%;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  position: relative;
  font-size: 20;
}