<html>
    <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="icon" href="/static/img/icon.png" type="image/icon type">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}"  type="image/icon type">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plyr.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/switch.css') }}"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>
            Hanayori Tools
        </title>
    </head>
    <body>
        <div class="profile">
            {% for result in status %}
                {%for name,p in result.items() %}
                    {% if status[0][name] == True %}
                        <a class="{{ name }}" href="https://www.youtube.com/channel/{{cnid[loop.index0]}}?sub_confirmation=1" target="_blank"><img src="/static/img/profile_live/{{ name }}.jpg"></a>
                    {% else %}
                        <a class="{{ name }}" href="https://www.youtube.com/channel/{{cnid[loop.index0]}}?sub_confirmation=1" target="_blank"><img src="/static/img/{{ name }}.jpg"></a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
            <div class="menu">
                <p><a class="home"href="/"><i class="large material-icons">home</i></a></p>
                <p><a class="live" href="/Live"><i class="large material-icons">live_tv</i></a></p>
                <p><a class="upcome" href="/Upcome"><i class="large material-icons">queue_play_next</i></a></p>
                <p><a class="last" href="/Last"><i class="large material-icons">list</i></a></p>
            </div>
            <div class="menu__toggler"><span></span></div>
            <div class=main>
                <h3>¯\_(ツ)_/¯</h3>
            </div>  
            <div style="position: relative; top: -4%; text-align: center; display: block;">
                <label class="switch">
                    <input type="checkbox">
                    <div class="slider"></div>
                </label>
            </div>
            <div id="st" style="position: relative; text-align: center;"></div>
            <div class="music" id="mu">
                <audio id="player" controls loop>
                    <source src="https://dev.justhumanz.me/stream" type="audio/mp3" />
                </audio>
            </div>
            <div id="snackbar">YouTube mode</div>
            <div id="snackbar2">Radio mode</div>
    </body>
    <script src="{{ url_for('static', filename='js/plyr.polyfilled.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plyr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utility.js') }}"></script>
</html>