<html>
    <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}"  type="image/icon type">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenav.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>
            {{ title }}
        </title>
    </head>
    <body>
        <div class="profile">
             {% for result in status %}
                {%for name in result %}
                    {% if status[0][name] == True %}
                        <a class="{{ name }}" href="https://www.youtube.com/channel/{{cnid[loop.index0]}}?sub_confirmation=1" target="_blank"><img src="/static/img/profile_live/{{ name }}.jpg"></a>
                    {% else %}
                        <a class="{{ name }}" href="https://www.youtube.com/channel/{{cnid[loop.index0]}}?sub_confirmation=1" target="_blank"><img src="/static/img/{{ name }}.jpg"></a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
            <div class="menu">
                <p><a class="home"href="/"><i class="large material-icons">home</i></a></p>
                <p><a class="live" href="/Live"><i class="large material-icons">live_tv</i></a></p>
                <p><a class="upcome" href="/Upcome"><i class="large material-icons">queue_play_next</i></a></p>
                <p><a class="last" href="/Last"><i class="large material-icons">list</i></a></p>
            </div>
            <div class="menu__toggler"><span></span></div>
            <div class=main>
            {% if data is none %}
                <h3> Look like no live stream for now </h3>
                <img src="/static/img/asset/parerunworry.png" alt="">
            {% else %}
                <ul style="padding-left: 5%;padding-top: 1%;">
                {% for result in data %}
                    {% if data[loop.index0]['status'] == "live" %}
                        {% if live_count > 1 %}
                        <li style="padding: 1%;">
                            {% if loop.index == live_count %}
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ data[loop.index0]['ytVideoId'] }}?rel=0&amp;autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% else %}
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ data[loop.index0]['ytVideoId'] }}?rel=0&amp;autoplay=1;mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endif %}
                        </li>
                        {% else %}
                        <li>
                            <a href="/Video/{{ data[loop.index0]['ytVideoId'] }}">
                                <img src="https://img.youtube.com/vi/{{ data[loop.index0]['ytVideoId'] }}/maxresdefault.jpg" alt="">
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            </div>

    </body>
    <script>
        const toggler = document.querySelector(".menu__toggler");
        const menu = document.querySelector(".menu");
        const profile = document.querySelector(".profile");

        toggler.addEventListener("click", () => {
        toggler.classList.toggle("active");
        menu.classList.toggle("active");
        });
    </script>
    <script src="https://static.doubleclick.net/instream/ad_status.js"></script>
        <script src="{{ url_for('static', filename='js/plyr.polyfilled.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plyr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utility.js') }}"></script>
</html>